body {
    width: 480px;
    height: 765px;
    background-color: #ccc;
}

aside {
    width: 480px;
    height: 150px;
    line-height: 150px;
    text-align: center; 
  
}
main {
    width: 480px;
    height: 750px;     
}


header {
    width: 480px;
    height: 150px;
    line-height: 150px;
    text-align: center;           
}
.footer {
    width: 480px;
    height: 125px;   
    line-height: 125px;
    text-align: center;   
}








@media all and (min-width: 768px) {
    body {
            width: 960px;
            height: 775px;
            background-color: #ccc; 
        }


        .footer {
            width: 760px;
            height: 150px;   
            line-height: 150px;
            text-align: center;   
        }



        aside {
            width: 200px;
            height: 600px;
            line-height: 600px;
            text-align: center; 
        }


        header {
            width: 960px;
            height: 100px;
            line-height: 100px;
            text-align: center;           
        }

        main {
            width: 760px;
            height: 450px; 
            display: flex;
        }
  }


@media all and (min-width: 960px) {
    body {
        width: 960px;
        height: 775px;
        background-color: #ccc; 
    }

    aside {
        width: 200px;
        height: 600px;
        line-height: 600px;
        text-align: center; 
    }
    main {
        width: 760px;
        height: 450px; 
        display: flex;
    }
  }
  header {
    width: 960px;
    height: 100px;
    line-height: 100px;
    text-align: center;           
}
.footer {
    width: 760px;
    height: 150px;   
    line-height: 150px;
    text-align: center;   
}